.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
}

.app__main {
  display: flex;
  /* justify-content: center; */
  margin: 0 auto;
  max-width: calc(1920px - 2*320px);
}