.orderLists {
  display: flex;
}

.orderLists > * {
  flex-basis: 50%;
}

.orderList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 350px;
}

.finished_orders li {
  color: #00cccc;
}
