.modal {
  background-color: rgb(28, 28, 33);
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px,
    rgba(0, 0, 0, 0.04) 0px 4px 8px 0px, rgba(0, 0, 0, 0.04) 0px 16px 24px 0px,
    rgba(0, 0, 0, 0.04) 0px 24px 32px 0px;
  width: 720px;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
